<section class="hero">
    <div class="hero-desc">
        <h1 class="hero-title">All of your tasks in one <br/><span>place</span></h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab assumenda amet aspernatur harum accusantium minus illum eaque libero magnam deserunt.</p>
        <a class="btn get-started-btn" href="">Get Started</a>
        
    </div>
    <div class="hero-img-container">
        <img src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=500" alt="hero image" class="hero-img">
    </div>
</section>