<section class="service-section">
    <h1>What do we offer ?</h1>
    <div class="services">
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
        <article class="service">
            <h3>HRM</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, quasi.</p>
            <img src="" alt="hrm service">
        </article>
    </div>
</section>